
@{
    ViewData["Title"] = "找回密码";
}
@model ForgotPasswordViewModel

<div class="row clearfix  ">
    <div class="col-md-9">

        <div class="panel panel-default">
            <div class="panel-heading">找回密码</div>
            <div class="panel-body">

                @if (Model.Result)
                {
                    <div class="alert alert-success">
                        已发送确认邮件到您的邮箱: @Model.Email
                    </div>
                }
                else
                {

                    <div>
                        <form method="post" class="form-horizontal">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group">
                                <label asp-for="Email" class="col-sm-2 control-label">注册邮箱</label>
                                <div class="col-md-5">
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-5 col-md-offset-2 ">
                                    <button type="submit" class="btn btn-primary">提交</button>
                                </div>
                            </div>

                        </form>
                    </div>

                }

            </div>
        </div>

    </div>

    <div class="col-md-3">
        <partial name="_WidgetPartial" />
    </div>
</div>



@section scripts{

    <partial name="_ValidationScriptsPartial" />

}


