
@{
    ViewData["Title"] = "登录";
}
@model LoginViewModel

<div class="row clearfix  ">
    <div class="col-md-9">

        <div class="panel panel-default">
            <div class="panel-heading">登录</div>
            <div class="panel-body">

                <div>
                    <form method="post" class="form-horizontal">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="UserName" class="col-sm-2 control-label">用户名</label>
                            <div class="col-md-5">
                                <input asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="col-sm-2 control-label">密码</label>
                            <div class="col-md-5">
                                <input asp-for="Password" type="password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-5 col-md-offset-2 ">
                                <button type="submit" class="btn btn-primary">登录</button>
                                <button type="submit" class="btn btn-info">使用GitHub登录</button>


                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-5 col-md-offset-2 ">
                                <a asp-action="ForgotPassword">忘记密码？</a>
                            </div>
                        </div>

                    </form>
                </div>


            </div>
        </div>




    </div>

    <div class="col-md-3">
        <partial name="_WidgetPartial" />
    </div>
</div>



@section scripts{

    <partial name="_ValidationScriptsPartial" />

}


