@{
    ViewData["Title"] = "Home Page";
}

<div class="main clearfix row ">
    <div class="content-area  col-md-9 ">

        <div class="topics">
            <div class="topic-tags">
                <a href="#">全部</a>
            </div>

            <div class="topic-list">
                <div class="list-item clearfix">
                    <a href="#" class="avatar"><img src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120" /></a>
                    <span class="meta-count">10/55</span>
                    <span class="meta-top">置顶</span>
                    <a href="#" class="title">asp.net core 入门 ... </a>

                    <span class="pull-right reply">
                        <a href="#" class="reply-avatar"><img src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120" /></a>
                        <span class="reply-time">11分钟前</span>
                    </span>
                </div>

                <div class="list-item">
                    <a href="#" class="avatar"><img src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120" /></a>
                    <span class="meta-count">10/55</span>
                    <span class="meta-question">问答</span>
                    <a href="#" class="title">asp.net core 入门 ... </a>

                    <span class="pull-right reply">
                        <a href="#" class="reply-avatar"><img src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120" /></a>
                        <span class="reply-time">11分钟前</span>
                    </span>
                </div>
                <div class="list-item">
                    <a href="#" class="avatar"><img src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120" /></a>
                    <span class="meta-count">10/55</span>
                    <span class="meta-top">置顶</span>
                    <a href="#" class="title">asp.net core 入门 ... </a>

                    <span class="pull-right reply">
                        <a href="#" class="reply-avatar"><img src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120" /></a>
                        <span class="reply-time">11分钟前</span>
                    </span>
                </div>
                <div class="list-item">
                    <a href="#" class="avatar"><img src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120" /></a>
                    <span class="meta-count">10/55</span>
                    <span class="meta-top">置顶</span>
                    <a href="#" class="title">asp.net core 入门 ... </a>

                    <span class="pull-right reply">
                        <a href="#" class="reply-avatar"><img src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120" /></a>
                        <span class="reply-time">11分钟前</span>
                    </span>
                </div>

            </div>
        </div>
    </div>

    <div class="widget-area col-md-3  ">
        <partial name="_WidgetPartial" />
    </div>
</div>