

<div class="panel panel-default">
    <div class="panel-heading">发布新话题</div>
    <div class="panel-body ">
        <a asp-action="create" asp-controller="topic" class="btn btn-primary">发布新话题</a>
    </div>
</div>



@*<vc:user-info />*@

@if (User.Identity.IsAuthenticated)
{
    <vc:login-user-info />
}

<vc:about />

<vc:links />





