

<div class="panel panel-default">
    <div class="panel-heading">发布新话题</div>
    <div class="panel-body ">
        <a asp-action="create" asp-controller="topic" class="btn btn-primary">发布新话题</a>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">个人信息</div>
    <div class="panel-body user-info">
        <div href="#" class="avatar">
            <img src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120" />
            jxnkwlp@qq.com
        </div>

        <p>“ 这家伙很懒，什么个性签名都没有留下。 ”</p>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">关于</div>
    <div class="panel-body ">
        这里是 .net core 中国社区 <br />
        在这里，你可以：
        <ul>
            <li>向别人提出你遇到的问题</li>
            <li>帮助遇到问题的人</li>
            <li>分享自己的知识</li>
            <li>和其它人一起进步</li>
        </ul>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">友情链接</div>
    <div class="panel-body list-group">
        <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item">Morbi leo risus</a>
        <a href="#" class="list-group-item">Porta ac consectetur ac</a>
        <a href="#" class="list-group-item">Vestibulum at eros</a>
    </div>
</div>