

<div class="panel panel-default">
    <div class="panel-heading">友情链接</div>
    <div class="panel-body list-group">
        <a href="//dot.net" rel="nofollow" class="list-group-item" target="_blank">.net</a>
    </div>
</div>