
@{
    ViewData["Title"] = "Index";
}


<div class="row clearfix  ">
    <div class="col-md-9">

        <div class="topic-details">
            <h1 class="title">这是一个测试</h1>

            <p class="meta">
                <span>发布于 1 小时前</span>
                <span>作者 huoguangxuan</span>
                <span>4 次浏览</span>
                <span>来自 客户端测试</span>
            </p>

            <div class="content">
                测试内容测试内容测试内容测试内容
            </div>

        </div>


        <div class="panel panel-default">
            <div class="panel-heading">回复（6）</div>
            <div class="panel-body replay-list">

                <div class="replay-item">
                    <div class="user-info">
                        <a href="/user/LiJianPeng01" class="user-avatar">
                            <img src="https://avatars0.githubusercontent.com/u/23412142?v=4&amp;s=120" title="LiJianPeng01">
                        </a>

                        <a href="#" class="user-name">atian25</a>
                        <a class="time">30楼•1年前</a>

                        <span class="author">作者</span>

                        <span class="user-action">
                            <span class="glyphicon glyphicon-hand-up"></span>
                        </span>
                    </div>
                    <div class="content">
                        <a href="/user/atian25" target="_blank">@@atian25</a>
                        好的，谢谢。另外想请教一个问题，现在我生产环境部署在linux服务器上，每次更新代码我都要先执行kill指令把当前正在运行网站的线程杀掉再重新start，eggjs框架有没有一些功能可以监听代码变化然后马上重启服务？有的话要怎么做？因为在本地开发的时候是可以的，那生产环境应该也可以才对。
                    </div>
                </div>

                <div class="replay-item">
                    <div class="user-info">
                        <a href="/user/LiJianPeng01" class="user-avatar">
                            <img src="https://avatars0.githubusercontent.com/u/23412142?v=4&amp;s=120" title="LiJianPeng01">
                        </a>

                        <a href="#" class="user-name">atian25</a>
                        <a class="time">30楼•1年前</a>

                        <span class="author">作者</span>
                    </div>
                    <div class="content">
                        <a href="/user/atian25" target="_blank">@@atian25</a>
                        好的，谢谢。另外想请教一个问题，现在我生产环境部署在linux服务器上，每次更新代码我都要先执行kill指令把当前正在运行网站的线程杀掉再重新start，eggjs框架有没有一些功能可以监听代码变化然后马上重启服务？有的话要怎么做？因为在本地开发的时候是可以的，那生产环境应该也可以才对。
                    </div>
                </div>

                <div class="replay-item">
                    <div class="user-info">
                        <a href="/user/LiJianPeng01" class="user-avatar">
                            <img src="https://avatars0.githubusercontent.com/u/23412142?v=4&amp;s=120" title="LiJianPeng01">
                        </a>

                        <a href="#" class="user-name">atian25</a>
                        <a class="time">30楼•1年前</a>

                        <span class="author">作者</span>
                    </div>
                    <div class="content">
                        <a href="/user/atian25" target="_blank">@@atian25</a>
                        好的，谢谢。另外想请教一个问题，现在我生产环境部署在linux服务器上，每次更新代码我都要先执行kill指令把当前正在运行网站的线程杀掉再重新start，eggjs框架有没有一些功能可以监听代码变化然后马上重启服务？有的话要怎么做？因为在本地开发的时候是可以的，那生产环境应该也可以才对。
                    </div>
                </div>


            </div>
        </div>


    </div>

    <div class="col-md-3">
        <partial name="_WidgetPartial" />
    </div>
</div>



