
@{
    ViewData["Title"] = "Index";
}


<div class="panel panel-default">
    <div class="panel-heading">用户信息</div>
    <div class="panel-body user-info">
        <div href="#" class="avatar">
            <img src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120" />
            jxnkwlp@qq.com
        </div>

        <p>3580 积分</p>
        <p>3个话题收藏</p>

        <p><span class="glyphicon glyphicon-home"></span> <a href="#">http://xcoder.in</a></p>
        <p><span class="glyphicon glyphicon-map-marker"></span> Hangzhou</p>
        <p><span class="glyphicon glyphicon-map-marker"></span> Hangzhou</p>
        <p><span class="glyphicon glyphicon-map-marker"></span> Hangzhou</p>

        <p class="register-time"> 注册时间 6 年前</p>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading clearfix">最近创建的话题 <a href="#" class="pull-right">查看更多</a> </div>
    <div class="panel-body topic-list">
        <div class="">
            <div class="list-item clearfix">
                <a href="#" class="avatar"><img src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120" /></a>
                <span class="meta-count">10/55</span>
                <span class="meta-top">置顶</span>
                <a href="#" class="title">asp.net core 入门 ... </a>

                <span class="pull-right reply">
                    <a href="#" class="reply-avatar"><img src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120" /></a>
                    <span class="reply-time">11分钟前</span>
                </span>
            </div>

            <div class="list-item">
                <a href="#" class="avatar"><img src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120" /></a>
                <span class="meta-count">10/55</span>
                <span class="meta-question">问答</span>
                <a href="#" class="title">asp.net core 入门 ... </a>

                <span class="pull-right reply">
                    <a href="#" class="reply-avatar"><img src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120" /></a>
                    <span class="reply-time">11分钟前</span>
                </span>
            </div>
            <div class="list-item">
                <a href="#" class="avatar"><img src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120" /></a>
                <span class="meta-count">10/55</span>
                <span class="meta-top">置顶</span>
                <a href="#" class="title">asp.net core 入门 ... </a>

                <span class="pull-right reply">
                    <a href="#" class="reply-avatar"><img src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120" /></a>
                    <span class="reply-time">11分钟前</span>
                </span>
            </div>
            <div class="list-item">
                <a href="#" class="avatar"><img src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120" /></a>
                <span class="meta-count">10/55</span>
                <span class="meta-top">置顶</span>
                <a href="#" class="title">asp.net core 入门 ... </a>

                <span class="pull-right reply">
                    <a href="#" class="reply-avatar"><img src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120" /></a>
                    <span class="reply-time">11分钟前</span>
                </span>
            </div>
            <div class="list-item">
                <a href="#" class="avatar"><img src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120" /></a>
                <span class="meta-count">10/55</span>
                <span class="meta-top">置顶</span>
                <a href="#" class="title">asp.net core 入门 ... </a>

                <span class="pull-right reply">
                    <a href="#" class="reply-avatar"><img src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120" /></a>
                    <span class="reply-time">11分钟前</span>
                </span>
            </div>
        </div>
    </div>
</div>





<div class="panel panel-default">
    <div class="panel-heading">最近参与的话题  <a href="#" class="pull-right">查看更多</a> </div>
    <div class="panel-body topic-list">
        <div class="">
            <div class="list-item clearfix">
                <a href="#" class="avatar"><img src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120" /></a>
                <span class="meta-count">10/55</span>
                <span class="meta-top">置顶</span>
                <a href="#" class="title">asp.net core 入门 ... </a>

                <span class="pull-right reply">
                    <a href="#" class="reply-avatar"><img src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120" /></a>
                    <span class="reply-time">11分钟前</span>
                </span>
            </div>

            <div class="list-item">
                <a href="#" class="avatar"><img src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120" /></a>
                <span class="meta-count">10/55</span>
                <span class="meta-question">问答</span>
                <a href="#" class="title">asp.net core 入门 ... </a>

                <span class="pull-right reply">
                    <a href="#" class="reply-avatar"><img src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120" /></a>
                    <span class="reply-time">11分钟前</span>
                </span>
            </div>
            <div class="list-item">
                <a href="#" class="avatar"><img src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120" /></a>
                <span class="meta-count">10/55</span>
                <span class="meta-top">置顶</span>
                <a href="#" class="title">asp.net core 入门 ... </a>

                <span class="pull-right reply">
                    <a href="#" class="reply-avatar"><img src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120" /></a>
                    <span class="reply-time">11分钟前</span>
                </span>
            </div>
            <div class="list-item">
                <a href="#" class="avatar"><img src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120" /></a>
                <span class="meta-count">10/55</span>
                <span class="meta-top">置顶</span>
                <a href="#" class="title">asp.net core 入门 ... </a>

                <span class="pull-right reply">
                    <a href="#" class="reply-avatar"><img src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120" /></a>
                    <span class="reply-time">11分钟前</span>
                </span>
            </div>
            <div class="list-item">
                <a href="#" class="avatar"><img src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120" /></a>
                <span class="meta-count">10/55</span>
                <span class="meta-top">置顶</span>
                <a href="#" class="title">asp.net core 入门 ... </a>

                <span class="pull-right reply">
                    <a href="#" class="reply-avatar"><img src="https://avatars1.githubusercontent.com/u/11460601?v=4&s=120" /></a>
                    <span class="reply-time">11分钟前</span>
                </span>
            </div>
        </div>
    </div>
</div>
